@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 45% 8%;
    --foreground: 213 31% 91%;
    --card: 222.2 45% 10%;
    --card-foreground: 213 31% 91%;
    --popover: 222.2 45% 10%;
    --popover-foreground: 213 31% 91%;
    --primary: 3 89% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 213 31% 91%;
    --muted: 215 22% 22%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 22% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 22% 25%;
    --input: 215 22% 25%;
    --ring: 210 40% 98%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  html {
    min-height: 100%;
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
    min-height: 100%;
    font-family: "Nunito Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  #app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
